@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

body {
  background: url(http://www.imagestowallpapers.com/wp-content/uploads/2015/12/CSS-Background-Image.jpg) no-repeat center center fixed;
  background-size: cover;
}